.width {
  width: 100% !important;
}

.navbar-right {
  margin-right: 0 !important;

  li {
    display: inline-block;
    align-self: center;

    div {
      padding: 10px 0;

      a {
        font-size: 14px;
        color: #999c9e;
        min-height: 50px;
        font-weight: 600;
        padding: 0 25px 14px 5px;
      }
    }
  }
}

.back-button {
  float: left;
  margin-bottom: 20px;
}
